<ion-view title="Listing Result" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="listingResult-heading1" style="color:#07341F;">{{list.Name}}</h3>
    <div id="listingResult-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">WEBSITE:</p>
    </div>
    <div>
      <a href="{{list.Website}}" target="_blank">{{list.Website}} </a>
    </div>
    <div class="spacer" style="width: 748.182px; height: 9px;"></div>
    <div id="listingResult-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">MAJORS:</p>
    </div>
    <div id="listingResult-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;">{{list.Majors}}</p>
    </div>
    <div id="listingResult-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">POSITION:</p>
    </div>
    <div id="listingResult-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;"> {{list.Position}}</p>
    </div>
    <div id="listingResult-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">TITLE:</p>
    </div>
    <div id="listingResult-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;">{{list.Title}}</p>
    </div>
    <div id="listingResult-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">OCI:</p>
    </div>
    <div id="listingResult-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;">{{list.OCI}}</p>
    </div>
  </ion-content>
</ion-view>