<ion-view title="" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="page2-heading1" style="color:#07341F;">{{list.Name}}</h3>
    <div id="page2-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">WEBSITE:</p>
    </div>
    <div>
      <a href="{{list.Website}}" target="_blank">{{list.Website}} </a>
    </div>
    <div class="spacer" style="width: 748.182px; height: 9px;"></div>
    <div id="page2-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">MAJORS:</p>
    </div>
    <div id="page2-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;">{{list.Majors}}</p>
    </div>
    <div id="page2-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">POSITION:</p>
    </div>
    <div id="page2-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;"> {{list.Position}}</p>
    </div>
    <div id="page2-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">TITLE:</p>
    </div>
    <div id="page2-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;">{{list.Title}}</p>
    </div>
    <div id="page2-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#F7D736;font-size:20px;">OCI:</p>
    </div>
    <div id="page2-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#07341F;font-size:16px;">{{list.OCI}}</p>
    </div>
  </ion-content>
</ion-view>